.selector {
    text-align: center;
    padding: 32px;
}

.selector h1 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    color: #57C278;
}

.selector h3 {
    font-size: 20px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.selector .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}

.selector .in {
    background-color: #D9F7E9;
}